build-android/
android/dist
android/.packages
android/.deps
android/.optional-deps
android/config.conf

build/
build-ios/
ios/dist
ios/.packages
ios/.deps
ios/.optional-deps
ios/config.conf

build-mac/
mac/config.conf
mac/.packages
mac/.deps
mac/.optional-deps

build-*

.idea
.DS_Store
